[workspace]
authors = ["Michal Antkiewicz <michal.antkiewicz@uwaterloo.ca>"]
channels = ["conda-forge"]
name = "rca-llm-reasoning"
platforms = ["linux-64"]
version = "0.1.0"

[system-requirements]
cuda = "12.4"

[tasks]

[dependencies]
python = "3.12.*"
pytorch-gpu = "*"
torchvision = "*"
cuda = "12.4.*"
ollama = "==0.11.4"
transformers = "*"
evaluate = "*"
accelerate = "*"
pandas = "*"
tqdm = "*"
networkx = "*"
numpy = "*"
scikit-learn = "*"
ipykernel = "*"
ipywidgets = "*"
langchain = "==0.3.27"
langchain-core = "==0.3.76"
langchain-ollama = "==0.3.8"
langgraph = "==0.6.4"
openai = "*"
langchain-openai = "*"

[pypi-dependencies]
drain3 = "*"
