[workspace]
authors = ["Michal Antkiewicz <michal.antkiewicz@uwaterloo.ca>"]
channels = ["conda-forge"]
name = "rca-llm-reasoning"
platforms = ["linux-64"]
version = "0.1.0"

[system-requirements]
cuda = "12.9"
[tasks]
rca = "python code/rca.py"
ui = "python code/gradio-apps/gradio-messages-agent.py"
pull_llama3-2-3b = "ollama pull llama3.2:3b"
pull_qwen3-4b = "ollama pull qwen3:4b"
pull_qwen3-32b = "ollama pull qwen3:32b"
pull_llama3-3 = "ollama pull llama3.3"
pull_command-r-plus = "ollama pull command-r-plus"

[dependencies]
python = "3.12.*"
pytorch-gpu = "*"
torchvision = "*"
cuda = "12.9.*"
ollama = "==0.11.4"
transformers = "*"
evaluate = "*"
accelerate = "*"
pandas = "*"
tqdm = "*"
networkx = "*"
numpy = "*"
scikit-learn = "*"
ipykernel = "*"
ipywidgets = "*"
pixi-kernel = "*"
langchain = "==0.3.27"
langchain-core = "==0.3.76"
langchain-ollama = "==0.3.8"
langgraph = "==0.6.4"
openai = "*"
langchain-openai = "*"
gradio = "*"
pytz = "*"

[pypi-dependencies]
drain3 = "*"
